.table-auto{
  margin-left: 400px;
  margin-right: 200px;
  width : 60%;
  align-items: center;
  justify-content: center;
  table-layout: fixed;
}

thead{
  height: 50px;
  margin-left: 500px;
  border: 1px solid #ddd;
  padding: 8px;
  padding: 50px;
  font-size: medium;
  background-color: #251d4d;
  color: white;
}

.header{
  font-size: medium;
}

td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}